  <div class="ui inverted vertical footer segment" style="margin-top:52px">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="eight wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link">
          <div>
            <Span>Merch by </Span><a href="http://www.bezor.com.au" target="_blank" class="item " >Annette Bezor</a>
          </div>
          <div>
            <Span>Site design by </Span><a href="mailto:mrad@email.com?Subject=Web design" target="_top" class="item " >Mark Radomski</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>